@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
*{  font-family:  'Montserrat';
    box-sizing: border-box;
}
body{
    
    background-repeat: no-repeat;
    text-align: center;
    background-size:100% 145% ;
    background-attachment: fixed;
    
}
#form{
   
    
}
input{
    border: 1px solid;
    padding: 1rem;
    border-radius: 25px;
    background-color: white;
    min-width: 500px;

}
input{
    outline: none;
}
@media only screen and (max-width: 800px) {
    body {
        background-size:100% 150% ;
    }
  }
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.weather{
    display: flex;
    flex-direction:column ;
    margin-top: 10px;
    font-size: 2rem;
    text-align: center;
}
.weather img{
    transform: scale(1);
}
#foot{
    position: relative;
    size:2rem;
    margin-top: 10%;
}
#foot a{
    text-decoration: none;
}
#foot i{
    font-size: 1.5rem;
    color:black;   
}
#main{
    text-align: center;
    background: #444640d0;
    color: rgb(242, 243, 196);
    border-radius: 40px;
    width: 100%;
    max-width: 420px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}
#time{
font-size: 15px;
}
#forecast{
    display:flex;
    padding-left: 30%;
    padding-top: 20px;
}